@tailwind base;
@tailwind components;
@tailwind utilities;



input[type='email']:required:focus:invalid {
    border-bottom: 1px solid #ba5059;
}

input[type='email']:required:valid {
    border-bottom: 1px solid #5ab98c;
}

input[type='password']:required:valid {
    border-bottom: 1px solid #5ab98c;
}

input[type='text']:required:valid {
    border-bottom: 1px solid #5ab98c;
}

input[type='password']:required:focus:invalid {
    border-bottom: 1px solid #ba5059;
}

input[type='text']:required:focus:invalid {
    border-bottom: 1px solid #ba5059;
}